.container {
	display: flex;
}

.inputs {
	display: flex;
	flex-direction: column;
}

.buttonContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	align-items: stretch;
}

.button {
	flex-shrink: 0;
	flex-grow: 0;
}

.buttonTop, .buttonBottom {
	flex-grow: 1;
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.buttonAligner, .buttonAlignerSquare {
	display: flex;
	align-items: stretch;
}

.buttonAligner > div, .buttonAlignerSquare > div {
	width: 100%;
}
