.controlEntry {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.controlEntry  > p:first-child {
	font-weight: bold;
	position: relative;
	margin-right: 20px;
}

.controls {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 10px;
}

.controls > div {
	display: flex;
	gap: 5px;align-items: center;
}

.controlEntry  p {
	margin: 0;
}

.key {
	padding: 5px;
	background-color: var(--secondary-rgb-hover);
	border: var(--border-rgb) var(--border-width) solid;
	border-radius: var(--border-radius);
}
