.editor {
	flex-grow: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	background-color: var(--background-rgb);
	overflow: hidden;
	touch-action: none;
}

.window {
	position: relative;
	border: var(--window-border-padding) var(--element-border-width) solid;
	display: block;
}

.windowInner {
	position: relative;
	border: var(--window-border) var(--element-border-width) solid;
	display: block;
}

.backgroundImage {
	object-fit: contain;
	overflow: hidden;
	pointer-events: none;
	position: absolute;
}
