.checkbox {
	position: relative;
	flex-shrink: 0;
}

.container {
	display: flex;
	gap: 10px;
}

.container p {
	margin: 0;
}

.iconState > div {
	background-color: transparent !important;
}

.iconState.checked > div {
	background-color: var(--button-rgb) !important;
}
