.checkbox {
	position: relative;
	flex-shrink: 0;
}

.container {
	display: flex;
	gap: 10px;
}

.iconState > label {
	background-color: transparent !important;
}

.iconState:hover > label,
.iconState:focus-within > label {
	background-color: var(--button-rgb) !important;
}

.iconState.checked > label {
	background-color: var(--button-rgb-hover) !important;
}
