.input {
	margin: 5px;
	padding: 0;
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 1em;
}

.button {
	transition: all 0.02s linear;
	background: none;
	color: inherit;
	border: none;
	font: inherit;
}

.button:hover > .inputInner,
.input:focus-within > .inputInner {
	background-color: var(--button-rgb-hover);
}

.input > .label {
	margin: 0;
	word-break: break-all;
}

.input > .inputInner {
	flex-grow: 0;
	border: none;
	background-color: var(--button-rgb);
	transition: all 0.02s linear;
	color: var(--foreground-rgb);
	padding: 5px;
	min-width: 0;
	width: 100%;
	flex-shrink: 10000;
	text-align: left;
}

.input > input + .label {
	width: 100%;
	height: 100%;
	transition: all 0.02s linear;
}

.input > .inputInner:focus,
.input > .inputInner:hover {
	background-color: var(--button-rgb-hover);
}

.dropdown {
	position: relative;
}

.dropdown::after {
	position: relative;
	float: right;
	content: "";
	top: 0.5em;
	border: 6px solid transparent;
	border-color: var(--border-rgb) transparent transparent transparent;
}

.dropdown.active::after {
	border-color: transparent transparent var(--border-rgb) transparent;
	top: 0;
}

.dropdownItems div,
.dropdown {
	background-color: var(--button-rgb);
	transition: all 0.02s linear;
	color: var(--foreground-rgb);
	padding: 5px;
	border-bottom: var(--border-width) var(--border-rgb) solid;
}

.dropdownItems div:hover {
	background-color: var(--button-rgb-hover);
}

.dropdownItems {
	left: 0px;
	display: none;
	flex-direction: column;
	position: absolute;
	background-color: var(--button-rgb);
	border: var(--border-width) var(--border-rgb) solid;
	border-radius: var(--dropdown-border-radius);
	width: calc(100% - 2px);
	z-index: 1000;
}

.dropdownItems div {
	border-radius: 0;
}

.dropdownItems div:first-child {
	border-radius: var(--dropdown-border-radius) var(--dropdown-border-radius) 0
		0;
}

.dropdownItems div:last-child {
	border-bottom: none;
	border-radius: 0 0 var(--dropdown-border-radius)
		var(--dropdown-border-radius);
}

.dropdownItems div:first-child:last-child {
	border-bottom: none;
	border-radius: var(--dropdown-border-radius);
}

.dropdownActive {
	display: flex;
}
