.contextMenuHolder {
    width: 100vw;
    height: 100vh;
    z-index: 1000000;
    position: absolute;
    pointer-events: none;
}

.aligner {
    flex-grow: 0;
    flex-shrink: 1;
}

.verticalAlign {
    display: flex;
    flex-direction: column;
}

.horizontalAlign {
    display: flex;
}

.show {
    pointer-events: initial;
}

.contextMenu {
    background-color: rgb(var(--secondary-rgb));
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: thin rgb(var(--foreground-rgb)) solid;
    flex-shrink: 0;
    flex-grow: 0;
}

.contextMenu button {
    border: none;
    background-color: rgb(var(--secondary-rgb));
    color: rgb(var(--foreground-rgb));
    padding: 3px 5px;
    font-size: 1em;
    border-bottom: thin solid rgb(var(--foreground-rgb));
    text-align: left;
}

.contextMenu button:hover {
    background-color: rgb(var(--secondary-rgb-hover));
}

.contextMenu button:last-child {
    border-bottom: none;
}
