.popupHolder {
	width: 100svw;
	height: 100svh;
	z-index: 1000000;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.2s;
	pointer-events: none;
}

.show {
	pointer-events: initial;
	backdrop-filter: blur(var(--popup-blur));
}

.popup {
	background-color: var(--background-popup-rgb);
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 10px;
	border: var(--border-width) var(--border-rgb) solid;
	border-radius: var(--border-radius);
	max-height: 90svh;
	overflow-x: scroll;
}

.content {
	overflow-y: scroll;
}

.buttons {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
	margin-top: 15px;
}

.button {
	background-color: var(--button-rgb);
	transition: all 0.02s linear;
	padding: 3px 5px;
	font-size: 1em;
	color: var(--foreground-rgb);
	border: none;
	border-radius: var(--border-radius);
}

.button:hover {
	background-color: var(--button-rgb-hover);
}

.confirm {
	background-color: var(--confirm-button);
}

.confirm:hover {
	background-color: var(--confirm-button-hover);
}

.cancel {
	background-color: var(--cancel-button);
}

.cancel:hover {
	background-color: var(--cancel-button-hover);
}

.close {
	background-color: var(--close-button);
}

.close:hover {
	background-color: var(--close-button-hover);
}
