.tree {
	line-height: var(--tree-text-line-height);
	position: relative;
}

.tree > .label {
	margin: 0;
	padding: var(--tree-padding-y) 0;
}

.treeChildren {
	padding-left: var(--tree-text-line-height);
	position: relative;
}

.treeChildren > .tree::before {
	content: "";
	display: block;
	position: absolute;
	width: var(--tree-line-width);
	height: 100%;
	top: 0;
	left: calc(
		(var(--tree-text-line-height) / -2) - (var(--tree-line-width) / 2)
	);
	background-color: var(--tree-line-rgb);
}

.treeChildren > .tree:last-child::before {
	height: calc(
		(
				var(--tree-text-line-height) + var(--tree-padding-y) +
					var(--tree-padding-y)
			) /
			2 + (var(--tree-line-width) / 2)
	);
}

.treeChildren > .tree::after {
	content: "";
	display: block;
	position: absolute;
	width: calc(var(--tree-text-line-height) / 2);
	height: var(--tree-line-width);
	top: calc(
		(
				(
						var(--tree-text-line-height) + var(--tree-padding-y) +
							var(--tree-padding-y)
					) /
					2
			) -
			(var(--tree-line-width) / 2)
	);
	left: calc(var(--tree-text-line-height) / -2);
	background-color: var(--tree-line-rgb);
}

.label {
	transition: all 0.02s linear;
}

.active > .label {
	background-color: var(--button-rgb-active);
}

.tree:focus {
	outline: none;
}

.clickable:hover,
.tree:focus > .label {
	background-color: var(--button-rgb-hover);
}
