.tree {
	font-size: 1em;
	line-height: var(--tree-text-line-height);
	position: relative;
}

.tree > :not(.treeSub) {
	margin: 0;
	padding: var(--tree-padding-y) 0;
}

.treeSub {
	padding-left: var(--tree-nest-depth);
	position: relative;
}

.treeSub > .tree::before {
	content: "";
	display: block;
	position: absolute;
	width: var(--tree-line-width);
	height: 100%;
	top: 0;
	left: calc((var(--tree-nest-depth) / -2) - (var(--tree-line-width) / 2));
	background-color: var(--tree-line-rgb);
}

.treeSub > .tree::after {
	content: "";
	display: block;
	position: absolute;
	width: calc(var(--tree-nest-depth) / 2);
	height: var(--tree-line-width);
	top: calc(
		(
				(
						var(--tree-text-line-height) + var(--tree-padding-y) +
							var(--tree-padding-y)
					) / 2
			) - (var(--tree-line-width) / 2)
	);
	left: calc(var(--tree-nest-depth) / -2);
	background-color: var(--tree-line-rgb);
}

.treeSub > .tree:last-child::before {
	width: var(--tree-line-width);
	height: calc(
		(
				var(--tree-text-line-height) + var(--tree-padding-y) +
					var(--tree-padding-y)
			) / 2 + (var(--tree-line-width) / 2)
	);
	top: 0;
	left: calc((var(--tree-nest-depth) / -2) - (var(--tree-line-width) / 2));
}

.clickable > :not(.treeSub) {
	transition: all 0.02s linear;
}

.clickable:hover,
.active > :not(.treeSub) {
	background-color: var(--button-rgb-hover);
}
