:root {
    --foreground-rgb: 0, 0, 0;  
    --select-rgb: 100, 100, 100;
    --select-rgb-active: 0, 0, 0;
    --secondary-rgb: 230, 230, 230;
    --secondary-rgb-hover: 190, 190, 190;
    --tertiary-rgb: 255, 255, 255;
    --tertiary-rgb-hover: 220, 220, 220;
    --background-rgb: 255, 255, 255;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 200, 200, 200;
        --select-rgb: 100, 100, 100;
        --select-rgb-active: 200, 200, 200;
        --secondary-rgb: 20, 20, 20;
        --secondary-rgb-hover: 50, 50, 50;
        --tertiary-rgb: 40, 40, 40;
        --tertiary-rgb-hover: 60, 60, 60;
        --background-rgb: 40, 40, 40;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
    scrollbar-width: thin;
}
