.sidebar {
	margin: 0;
	background-color: var(--secondary-rgb);
	flex-basis: var(--sidebar-width);
	flex-shrink: 0;
	z-index: 100;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
}

.sidebar > div {
	overflow-y: scroll;
	overflow-x: hidden;
	flex-basis: calc(50% - var(--border-width));
}

.sidebar > div::-webkit-scrollbar {
	width: var(--scrollbar-width);
	position: absolute;
	display: block;
	right: 0;
	background: transparent;
	overflow: overlay;
}

.sidebar > div:hover::-webkit-scrollbar-thumb {
	width: var(--scrollbar-width);
	background: var(--scrollbar-rgb);
}

.sidebar > div::-webkit-scrollbar-thumb {
	width: var(--scrollbar-width);
	background: transparent;
}

.sidebar > hr {
	width: 100%;
	height: var(--border-width);
	border: none;
	background-color: var(--separator-rgb);
	margin: 0;
	flex-shrink: 0;
	flex-grow: 0;
}
