.sidebar {
	margin: 0;
	background-color: var(--secondary-rgb);
	flex-basis: var(--sidebar-width);
	flex-shrink: 0;
	z-index: 100;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
}

.sidebar > div {
	overflow-y: scroll;
	overflow-x: hidden;
	flex-basis: calc(50% - var(--border-width));
}

.sidebar > hr {
	width: 100%;
	height: var(--border-width);
	border: none;
	background-color: var(--separator-rgb);
	margin: 0;
	flex-shrink: 0;
	flex-grow: 0;
}

@media screen and (max-width: 8in) {
	.sidebar {
		transition: all 0.2s ease-in-out;
	}

	.sidebarLeft.hideNarrow {
		transform: translateX(-100svw) !important;
	}

	.sidebarLeft.showNarrow {
		transform: translateX(0) !important;
	}

	.sidebarRight.hideNarrow {
		transform: translateX(0) !important;
	}

	.sidebarRight.showNarrow {
		transform: translateX(-100svw) !important;
	}
}
