.menubar {
	grid-column: 1 / span 3;
	width: 100%;
	flex-shrink: 0;
	margin: 0;
	background-color: var(--background-menu-rgb);
	display: flex;
	overflow: initial !important;
}

.menubar > div {
	display: flex;
	overflow: initial !important;
}

.menucategory {
	--menu-text-padding-width: 7px;
	padding: var(--menu-text-padding-width);
	flex-grow: 0;
	position: relative;
}

.menucategory .label {
	background-color: transparent;
	padding: 0;
	border: none;
	outline: none;
	font: inherit;
	color: inherit;
}

.menucategory:hover {
	background-color: var(--background-menu-rgb-hover);
}

.menudropdown {
	--side-padding-width: 7px;
	left: calc(
		(-1 * var(--side-padding-width)) + var(--menu-text-padding-width)
	);
	display: none;
	flex-direction: column;
	align-items: stretch;
	position: absolute;
	z-index: 10000;
	background-color: var(--background-menu-dropdown-rgb);
	border: var(--border-width) var(--border-rgb) solid;
	border-radius: var(--menu-border-radius);
	flex-shrink: 0;
	overflow: hidden;
	white-space: nowrap;
}

.active .menucategory:hover .menudropdown {
	display: flex;
}

.menutoggle {
	padding: 4px calc(var(--side-padding-width));
	border: none;
	outline: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	text-align: left;
}

.menutoggle:hover {
	background-color: var(--background-menu-rgb-hover);
}

.menubutton {
	padding: 4px calc(var(--side-padding-width));
	border: none;
	outline: none;
	font: inherit;
	color: inherit;
	background-color: var(--background-menu-dropdown-rgb);
	border-bottom: var(--border-width) var(--border-rgb) solid;
	border-radius: 0;
	text-align: left;
}

.menubutton:first-child {
	border-radius: var(--menu-border-radius) var(--menu-border-radius) 0 0;
}

.menubutton:last-child {
	border-bottom: none;
	border-radius: 0 0 var(--menu-border-radius) var(--menu-border-radius);
}

.menubutton:last-child:first-child {
	border-bottom: none;
	border-radius: var(--menu-border-radius);
}

.menubutton:not(.disabled):hover {
	background-color: var(--background-menu-dropdown-rgb-hover);
}

.menubutton.disabled {
	color: var(--foreground-rgb-disabled);
}

.menuToggle {
	aspect-ratio: 1/1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.narrowScreenOnly {
	display: none;
}

@media screen and (max-width: 8in) {
	.narrowScreenOnly {
		display: flex;
	}
}
