.window {
	position: relative;
	border: var(--window-border) var(--element-border-width) solid;
	display: block;
}

.backgroundImage {
	object-fit: contain;
	object-position: top left;
	overflow: hidden;
	pointer-events: none;
	position: absolute;
}
