.inputGrid {
	display: grid;
	--margin: 5px;
	width: calc(100% - var(--margin) - var(--margin));
	column-gap: var(--margin);
	row-gap: var(--margin);
	grid-auto-rows: max-content;
	margin: var(--margin);
	position: relative;
}

.inputGrid > span {
	align-self: center;
	grid-column: start / end;
}

.inputGrid > hr {
	grid-column: start / end;
}
