name: Lint and Format Check

# Configures this workflow to run every time a change is pushed to the branch called `release`.
on:
  pull_request:
  push:
    branches: ["main"]
    paths-ignore:
      [".github/**", ".vscode/**", "README.md", ".gitignore", "LICENSE"]

# There is a single job in this workflow. It's configured to run on the latest available version of Ubuntu.
jobs:
  lint-and-format:
    runs-on: ubuntu-latest
    # Sets the permissions granted to the `GITHUB_TOKEN` for the actions in this job.
    permissions:
      contents: read
      #
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
      - name: Install dependencies
        run: npm ci
      - name: Run ESLint
        run: npx eslint .
      - name: Run Prettier
        run: npx prettier . --check
